# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C++ build artifacts
*.o
*.so
build/
bin/

# Environments
.venv/
env/
venv/
ENV/
.pytest_cache/
htmlcov/
dist/
*.egg-info/

# Data and logs
*.log
*.root
*.h5
*.dat
DAQ/
outputs/
_side_effects/

# IDEs and OS
.vscode/
.idea/git commit -m "Stop tracking .pyc files"
.DS_Store